.centre{
    text-align: center;
}
.page_basic_style{
   font-family: 'Courier New', Courier, monospace;
   font-style: normal;
   font-size: medium;
   color: black;
   background-color: #f2c377;
}
#back_button{
    margin-left: ;
}
