.centre{
    text-align: center;
    text-decoration: underline;
}

.page_basic_style{
   font-family: 'Times New Roman', Times, serif;
   font-style: normal;
   font-size: 20px;
   color: black;
   background-color: #f2c377;
   
}
.img_caption{
    font-weight: bold; 
    color:#17023a;
    font-size: 20px;
    font-style: italic;
}
